html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: rgb(12, 117, 236);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);

  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-inner {
  background: #fff;
}

.body {
  padding: 32px;
}

.header {
  background-color: #556ee6;
  text-align: center;
  color: white;
  margin-top: -20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Cairo");

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #292929;
}

#repeatButton {
  appearance: none;
  border: none;
  background: url(https://andyhoffman.codes/random-assets/img/slots/repeat.png)
    transparent 0 0 no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  animation: 6s linear infinite spin;
}

h1 {
  font-size: 150%;
  padding: 0.25em 0.5em;
  font-family: "Cairo", sans-serif;
}

h1 span {
  color: aliceblue;
  border: 1px solid hsla(208, 100%, 97.1%, 0.2);
  padding: 0.1em 0.2em;
}

.icons {
  display: inline-block;
  width: 128px;
  height: 564px;
  overflow: hidden;
  background: #fff
    url(https://andyhoffman.codes/random-assets/img/slots/sprite5.png) repeat-y;
  will-change: backgroundPosition;
  transition: 0.3s background-position ease-in-out;
  padding: 0 80px;
  transform: translateZ(0);
}

.icons:nth-child(2) {
  margin: 0 10px;
}

* {
  box-sizing: border-box;
}

.spinner-container {
  overflow: hidden;
  height: 632px;
  padding: 2em;
  transform: translate(-50%, -50%) scale(0.62, 0.62);
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transition: 0.3s transform;
}

.app-wrap.winner-false {
  animation: linear 1s spin;
}

.spinner-container::after {
  position: absolute;
  content: "";
  display: block;
  height: 180px;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  left: 30px;
  background: rgba(255, 0, 0, 0.1);
}

.gradient-fade {
  position: absolute;
  top: 32px;
  right: 32px;
  bottom: 32px;
  left: 32px;
  background: linear-gradient(
    to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 7%,
    rgba(64, 64, 64, 0) 93%,
    rgba(64, 64, 64, 1) 100%
  );
}

@media screen and (max-width: 1000px) {
  .spinner-container {
    transform: translate(-50%, -50%) scale(0.55, 0.55);
  }
}

@media screen and (max-width: 500px) {
  .spinner-container {
    transform: translate(-50%, -50%) scale(0.4, 0.4);
  }
}
